/* JohnHenry Ward */
/* CSS for Lesson5 */

:root{
    --bg-color-1:#eee;
    --bg-color-2:#333;
    --text-color:#fff;
    --main-color:#05a081;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px !important;
}

header{
    width: 100%;
}

header nav{
    background: transparent !important;
    position: absolute;
    width: 90%;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s all ease;
}

nav a:hover{
    opacity: 1;
    color: var(--text-color);
    text-decoration: none;
}

a{
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    text-decoration: none;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav li{
    list-style-type: none;
    padding: 1em 0;
}

#toggle{
    display: none;
}

.label{
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 30px;
    float: right;
    color: var(--text-color);
}

.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    height: 100vh;
}

main{
    padding: 4em 0;
    background-color: var(--bg-color-1);
    overflow: hidden;
}

.floatleft{
    width: 30%;
    float: left;
}

.floatright{
    width: 60%;
    float: right;
}

.box{
    width: 28%;
    float: left;
    text-align: center;
    padding: 2em 0;
    margin: 1em;
}

.section-color{
    width: 100%;
    background-color: var(--bg-color-2) !important;
    overflow: hidden;
    color: var(--text-color); 
}

.fas{
    font-size: 3em;
    padding: 0.5em;
}

.button{
    background-color: var(--main-color);
    padding: 0.5em 1em;
    border-radius: 4px;
    color: var(--text-color);
}

footer{
    width: 100%;
    padding: 2.6em;
    text-align: center;
}

@media(max-width: 500px){
    
    .fas{
        font-size: 26px;
        color: var(--text-color);
        float: right;
        width: 30px;
    }

    .label{
        display: block;
        cursor: pointer;
    }

    nav ul{
        text-align: center;
        display: none;
        flex-direction: column;
        padding-top: 2.2em;
        background-color: transparent;
    }

    nav li{
        width: 100%;
        text-align: center;
        flex: auto;
        background-color: rgba(0, 0, 0, 0.8);
        /* background-color: transparent; */
        position: relative;
        top: 1em;
    }

    nav a{
        opacity: 1;
    }

    #toggle:checked+.menu{
        display: block;
    }
}